<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Editor: Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
    .h {
       content-align: center;
       justify-content: center;
       align-items: center;
       margin-bottom: 60px;
    }

    body {
       padding: 5% 20%;
    }

</style>

<body>

<div class="h">
    <h1>Welcome to PDFly</h1>
<h3>What would you like to do with your Pdf?</h3>
</div>

<div class="row">
    <div class="col-lg-4">
    <h3>Resize PDF</h3>
    <p>Resize your pdf to about 50% of its actual size</p>
        <a class="btn btn-danger btn-sm" href="{{ url_for('resize') }}">Resize PDF</a>
    </div>

    <div class="col-lg-4">
    <h3>Encrypt PDF</h3>
    <p>Secure your pdfs with any password of your choice</p>
        <a class="btn btn-danger btn-sm" href="{{ url_for('encrypt') }}">Encrypt PDF</a>
    </div>


</div>
</body>
</html>